<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoverEase - The Hassle-Free Cover Letter Generator</title>
    <meta name="description" content="Streamline your job search with CoverEase - the free, AI-powered cover letter generator. Get your personalized cover letter in minutes with no hassle." />
    <meta name="keywords" content="cover letter, job search, AI-powered, free, hassle-free" />
    <meta name="author" content="CoverEase" />
    <meta name="robots" content="index, follow" />
    
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="CoverEase - The Hassle-Free Cover Letter Generator" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Streamline your job search with CoverEase - the free, AI-powered cover letter generator. Get your personalized cover letter in minutes with no hassle." />
    <meta property="og:url" content="https://coverease.live" />
    <meta property="og:image" content="https://coverease.live/static/images/transparent-logo.png" />
  
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="CoverEase - The Hassle-Free Cover Letter Generator" />
    <meta name="twitter:description" content="Streamline your job search with CoverEase - the free, AI-powered cover letter generator. Get your personalized cover letter in minutes with no hassle." />
    <meta name="twitter:image" content="https://coverease.live/static/images/transparent-logo.png" />
    <link rel="stylesheet" type="text/css" href="{{
      url_for('static',filename='style.css') }}">
    </head>
    <style id="" media="all">/* cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.container {
	height: 100vh;
	font-family: "Montserrat", "sans-serif";
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
      a {
        color: black;
      }
      }
</style>
    <div class="container">
        <img src="{{url_for('static',filename='images/transparent-logo.png')}}" alt="CoverEase Logo" width="200" height="200" style="justified">
      <h1>An error has occured!</h1>
      <h2> <span class="ascii">{{e}}</span></h2>
      <a id="back-link">Go Back</a>
      <script>
      var element = document.getElementById('back-link');
      element.setAttribute('href', document.referrer);
      element.onclick = function() {
        history.back();
        return false;
    }
</script>
    </div>
  </html>